**/__pycache__
**/*.pyc
**/.ipynb_checkpoints
**/*.slides.html
.idea
pydap_*.tgz
sandbox/
# Documentation
pydap/doc_sphinx/*

# build
build/
dist/
**/*.egg-info/

# swap files
**/.*.swp
# tmp
**/tmp/

example/pkf-dataset.npy
pdenetgen/symbolic/symbolic
example/figures/
